/* General Styling */

@import "../colors.css";


* {
    font-family: "Nerd-Font";
    background: transparent;
    font-weight: 700;
    font-size: 12pt;
}

window#waybar {
    box-shadow: none;
    color: @bright;
}



/* LEFT ******************************/
#g-arch,
#g-screen,
#g-workspaces,
#g-hardware,
#g-network {
    background: @dark;
    border-radius: 15pt;
    margin-right: 10pt;
}

/* arch */
#custom-arch {
    padding: 0 8pt;
    border-radius: 15pt;
}
#custom-arch:hover {
    color: @dark;
    background: linear-gradient(@enby-yellow, @enby-white, @enby-purple, @enby-black);
}

/* screen */
#g-screen,
#idle_inhibitor,
#g-backlight {
    padding: 0 5pt;
}

#backlight {
    margin-left: 3pt;
}
#backlight.icon {
    margin: 0
}

/* workspaces */
#g-workspaces {
    padding: 0 5pt;
}

#workspaces button {
    border-radius: 15pt;
    padding: 2pt;
    opacity: 1;
}

#workspaces button.persistent {
    opacity: 0.7;
}

#workspaces button.empty {
    opacity: 0.2;
}

#workspaces button.active {
    opacity: 1;
}

#workspaces button.urgent {
    animation: blink 1.5s infinite ease-in-out;
    color: @violet;
}

#workspaces button:hover {
    opacity: 1;
    color: @bright;
}


/* hardware */

#g-hardware {
    padding: 0 5pt;
}
#g-hardware * {
    padding: 0 3pt;
}

/* CENTER ***********************/

#clock {
    background: @dark;
    border-radius: 15pt;
    color: @bright;
    font-size: 15px;
    padding: 0 12px;
}
#clock:hover {
    color: @dark;
    background: linear-gradient(@trans-blue, @trans-pink, @trans-white, @trans-pink, @trans-blue), 
                linear-gradient(@lesbian-0, @lesbian-1, @lesbian-2, @lesbian-3, @lesbian-4);
    background-size: 50% 100%, 50% 100%;
    background-position: top left, bottom right;
    background-repeat: no-repeat;

}

/* RIGHT ************************/

#g-network,
#g-right {
    background: @dark;
    border-radius: 15pt;
    padding: 0 5pt;
}

#g-network {
    padding: 0 8pt 0 5pt;
}

#g-right * {
    padding: 0 3pt;
}

#network.wifi-icon,
#network.eth1-icon,
#network.eth5-icon {
    padding: 0 5pt;
}

#tray {
    margin-left: 10pt;
    padding: 0 7pt;
    background: @dark;
    border-radius: 15pt;
}

/* Tooltip Styles ************************/
tooltip * {
    font-size: 12pt;
}

tooltip {
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 15pt;
    opacity: 1;
    outline: none;
}

/* FONT SIZE FIXING ***********************/

#cpu,
#temperature,
#memory,
#backlight,
#battery,
#pulseaudio,
#network.wifi,
#network.eth1,
#network.eth5
{
    font-size: 12pt;
}

#custom-arch,
#idle_inhibitor.activated,
#backlight.icon,
#cpu.icon,
#memory.icon,
#network.wifi-icon,
#network.eth1-icon,
#network.eth5-icon
{
    font-size: 20pt;
}

#pulseaudio.icon {
    font-size: 16pt;
}

#temperature.icon,
#battery.icon {
    font-size: 14pt;
}

#workspaces,
#workspaces button,
#workspaces * {
    font-size: 18pt;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#idle_inhibitor.deactivated {
    font-size: 15pt;
    margin: 0 2pt;
}

/* POP UPS ****************************/

menu {
    background-color: @dark;
    color: #ffffff;
    border-radius: 6pt;
    box-shadow: none;
}
menu *:hover {
    background-color: rgba(32, 32, 32, 0.8);
    opacity: 1;
}

@keyframes blink {
    0% {
           opacity: 1;
    }
    50% {
           opacity: .33;
    }
    100% {
           opacity: 1;
    }
}