/* General Styling */

@import "../colors.css";


* {
    font-family: "Nerd-Font";
    background: transparent;
    font-weight: 700;
    font-size: 12pt;
    box-shadow: none;
    color: @bright;
}


/* LEFT ******************************/
#g-arch,
#g-screen,
#g-workspaces,
#g-hardware {
    background: @transblack;
    border-radius: 15pt;
    margin-right: 10px;
}

/* arch */
#custom-arch {
    padding: 0 8pt;
    border-radius: 15pt;
}
#custom-arch:hover {
    color: @transblack;
    background: linear-gradient(@enby-yellow, @enby-white, @enby-purple, @enby-black);
}

/* screen */
#g-screen,
#idle_inhibitor,
#g-backlight {
    padding: 0 5pt;
}

#backlight.percent {
    font-size: 15pt;
    margin-left: 3pt;
}

/* workspaces */
#g-workspaces {
    padding: 0 5pt;
}

#workspaces button {
    border-radius: 15pt;
    padding: 2pt;
    opacity: 1;
}

#workspaces button.persistent {
    opacity: 0.7;
}

#workspaces button.empty {
    opacity: 0.2;
}

#workspaces button.active {
    opacity: 1;
}

#workspaces button:hover {
    opacity: 1;
    color: @bright;
}

#workspaces button.urgent {
    color: #cc3333;
}

/* hardware */

#g-hardware {
    padding: 0 5pt;
}
#g-hardware * {
    padding: 0 3pt;
}

/* CENTER ***********************/

#clock {
    background: @transblack;
    border-radius: 15pt;
    color: @bright;
    font-size: 15px;
    padding: 0 12px;
}

/* RIGHT ************************/

#g-right {
    background: @transblack;
    border-radius: 15pt;
    padding: 0 5pt;
}

#g-right * {
    padding: 0 3pt;
}

#network {
    background: rgb(8, 8, 2);
}

#tray { /** TO DO ***/
    margin-left: 10px;
    padding: 0 5px;
    background: @transblack;
    border-radius: 15pt;
}
#tray * {
    padding: 0 5px;
}



/* Tooltip Styles ************************/
tooltip * {
    font-size: 12pt;
}

tooltip {
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 15pt;
    opacity: 1;
    outline: none;
}

/* FONT SIZE FIXING ***********************/

#custom-arch,
#idle_inhibitor.activated,
#backlight,
#cpu,
#memory
{
    font-size: 20pt;
}

#pulseaudio {
    font-size: 16pt;
}

#temperature,
#battery {
    font-size:14pt;
}

#workspaces,
#workspaces button,
#workspaces * {
    font-size: 18pt;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#idle_inhibitor.deactivated {
    font-size: 15pt;
    margin: 0 2pt;
}

#cpu.percent,
#temperature.percent,
#memory.percent,
#backlight.percent,
#battery.percent,
#pulseaudio.percent
{
    font-size: 12pt;
}